.head{
	width: 100%;
	height: 75px;
	/*border: 1px solid;*/
	left: 12.5%;
	top: 6%;
	position: absolute;
	padding-top: 25px;
}
.head input[type=text]{
	width: 500px;
	height: 40px;
	left: 18%;
	position: absolute;
	border-radius: 5px;
	outline: none;
	border: 1px solid #28BFAC;
	padding-left: 10px;

}
.serchBac{
	width: 30px;
	height: 42px;
	position: absolute;
	left: 800px;
	background: #28BFAC;
	left: 49%;
	top: 25%;
	border: 1px solid #28BFAC;
	outline: none;
}
.serch{
	width: 60px;
	height: 42px;
	position: absolute;
	left: 800px;
	background-color: #28BFAC;
	left: 50%;
	top: 25%;
	border: 1px solid #28BFAC;
	border-radius: 5px;
	outline: none;

}
.top{
	width: 100%;
	height: 40px;
	position: absolute;

	background: #F8F8F8;
}
.login{
	/*border: 1px solid;*/
	width: 200px;
	height: 40px;
	position: absolute;
	left: 28%;
	padding-top: 10px;
	font-size: 13px;
	color: #999;
}
.login a:hover{
	color: #28BFAC;
	cursor: pointer;
}
.location{
	width: 270px;
	height: 40px;
	position: absolute;
	left: 12.5%;
	color: #999;
	padding-top: 10px;
	font-size: 13px;
}
.location a:hover{
	color: #28BFAC;
	cursor: pointer;
}
.rightSet{
	width: 350px;
	height: 40px;
	position: absolute;
	left: 67%;
}
.rightSet a{
	font-size: 13px;
	position: relative;
	top: 8px;
	color: #666666;
	margin-left: 25px;
}
.rightSet a:hover{
	color: #28BFAC;
	cursor: pointer;
}
body{
	overflow: hidden;
}
.hint{
	width: 510px;
	height: 20px;
	position: absolute;
	/*border: 1px solid;*/
	left: 18%;
	margin-top: -5px;
	padding-left: -20px;
	font-size: 11px;
	color: #999;
	bottom:10px;
}
.hint a{
	padding-left: 24px;

}
.hint a:hover{
	cursor: pointer;
	color: #28BFAC;
}