<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script  type="application/javascript" src="/static/js/jquery-3.3.1.js"></script>
    <script>
$(document).ready(function () {
    $('#b1').click(function () {
        phonenum=document.getElementById('p1').innerText;
        $.ajax({
            data:{"phonenum":phonenum},
            datatype:'json',
            method:'post',
            url:'/ftapp/quzhi/',
            success:function(myname){
                document.getElementById("p1").innerHTML=myname
            }
        })
    })
})
    </script>
</head>
<body>
<p id="p1">18327852557</p>
<input type="button" id="b1"  value="dianji">
</body>
</html>